{% extends 'base.html' %}

{% block content %}


    <div id="form-post-div">
        <form method="post">
            <label for="guess"></label>
            <input name="guess" id="guess" required>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="result-div">
        <p><label id="result"></label></p>
    </div>

    <div id="backend-test-div">
        <p>This text is {{ name }}.</p>
    </div>

    <div id="dynamic-test-div">
        <div id="output">
            <py-script>
                out = document.createElement('p')
                out.innerText = "This text is dynamic."
                document.getElementById("output").append(out)
            </py-script>
        </div>
    </div>

    <div id="bar" class="alert alert-primary"></div>
    </div>

    <div id="py-script-div">
        <!-- FIXME figure out how to import local module in <py-env> blck -->
        <py-script>
            static = 'static'
            pyscript.write('bar', f'This text is {static}.')

            import time
            import pyodide

            def selectChange(event):
                guess = document.getElementById("select").value
                print(guess)

            def setup():
                change_proxy = pyodide.create_proxy(selectChange)
                e = document.getElementById("guess")
                e.addEventListener("change", change_proxy)

            setup()

        </py-script>
    </div>
    
{% endblock %}
