{% extends 'base.html' %}

{% block content %}
    <div id="puzzle-date-div" class="puzzle-date-div">
        <py-script>
            import datetime

            today = datetime.datetime.now().strftime("%m/%d/%Y")

            puzzle_date = document.createElement('p')
            puzzle_date.innerText = f"Puzzle for {today}"
            document.getElementById("puzzle-date-div").append(puzzle_date)
        </py-script>
    </div>

    <!-- TODO create individual columns for each letter so that elements can append vertically -->
    <div id="letters-div" class="letters-div">
        <div id="letter-0-div" class="letter-div">
            <input class="letter-input" name="letter-0" id="letter-0" required>
        </div>
        <div id="letter-1-div" class="letter-div">
            <input class="letter-input" name="letter-1" id="letter-1" required>
        </div>
        <div id="letter-2-div" class="letter-div">
            <input class="letter-input" name="letter-2" id="letter-2" required>
        </div>
        <div id="letter-3-div" class="letter-div">
            <input class="letter-input" name="letter-3" id="letter-3" required>
        </div>
        <div id="letter-4-div" class="letter-div">
            <input class="letter-input" name="letter-4" id="letter-4" required>
        </div>
    </div>
    <div id="pyscript-div">
        <py-script>
            def check_letter(guess):
                #TODO check if guess in answer arr, then if guess is curr ans
                color = "green"
                return color

            #TODO set eventlistener to grab element on submit
            guess = "A"

            #TODO set css color of element according to check_letter(guess)
            color = check_letter(guess)

            letter_0 = document.createElement('p')
            letter_0.innerText = guess
            document.getElementById("letter-0-div").append(letter_0)
        </py-script>
    </div>

{% endblock %}
