<!doctype html>
<title>Speedle</title>

<head>
    <!-- TODO
    <link rel="icon" type="image/png" href="favicon.png" />
    -->
    <!-- TODO get pyscript css and merge into one local file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1>Speedle</h1>
    {% block header %}{% endblock %}
</head>

<body class="centered-wrapper">
    <div class="centered-content">
        <section class="content">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>
        <div class="centered-content">
            <nav>
                  <a href="{{ url_for('speedle.index') }}">Index</a>
                  <a href="{{ url_for('speedle.about') }}">About</a>
            </nav>
        </div>
    </div>
</body>
